<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">

    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <h1>Vue.js Poster Store</h1>
            <form class="searchbar" v-on:submit.prevent="onSubmit">
                <input placeholder="Search for posters" v-model="newSearch">
                <input type="submit" value="search" class="btn">
            </form>
        </div>

        <div class="main">
            <div class="products">
                <div v-if="!loading">
                    Found {{results.length}} results for search term {{search}}
                </div>
                <div v-else>
                    Loading...
                </div>
                <div v-for="(item,index) in items" v-bind:key="item.id" class="product">
                    <div>
                        <div>
                            <img v-bind:src="item.link" class="product-image" />
                        </div>
                    </div>
                    <div>
                        <h4 class="product-title">{{item.title}}</h4>
                        <p>Price: <strong>{{price|currency}}</strong></p>
                        <button v-on:click="addItem(index)" class="add-to-cart btn">Add to cart</button>
                    </div>
                </div>
                <div id="product-list-bottom">
                    <div v-if="items.length === results.length && results.length > 0">No more items.</div>
                </div>
            </div>

            <div class="cart">
                <h2>Shopping Cart</h2>

                <transition-group name="fade" tag="ul">
                    <li v-for="item in cart" v-bind:key="item.id" class="cart-item">
                        <div class="item-title">
                            {{item.title}}
                        </div>
                        <span class="item-qty">{{item.price | currency}} x {{item.quantity}}</span>
                        <button class="btn" v-on:click="inc(item)">+</button>
                        <button class="btn" v-on:click="dec(item)">-</button>
                    </li>
                </transition-group>

                <div>
                    <transition name="fade">
                        <div v-if="cart.length">
                            Total: {{total | currency}}
                        </div>
                    </transition>
                    <transition name="fade">
                        <div v-if="cart.length === 0" class="empty-cart">
                            The cart is empty.
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="reload/reload.js" type="text/javascript" /></script>
    <script src="node_modules/vue/dist/vue.js" type="text/javascript"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js" type="text/javascript"></script>
    <script src="node_modules/scrollmonitor/scrollMonitor.js" type="text/javascript"></script>
    <script src="public/script.js" type="text/javascript"></script>
</body>

</html>
